---
title: Category - Street Support
description: Street support makes it easier to help homeless people. Here are services available near you.
layout: default.hbs
permalink: false
jsBundle: category
section: findhelp
page: category
---

{{> no-js}}

<div id="js-category-result-output" class="template"></div>

<div id="spin"></div>

<script id="js-category-no-results-result-tpl" type="text/template">
  <div class="block block--breadcrumbs">
    <div class="container">
      <ol class="breadcrumbs__list">
        <li class="breadcrumbs__item"><a href="/">Home</a></li>
        <li class="breadcrumbs__item"><a href="/find-help/">Find Help</a></li>
        <li class="breadcrumbs__item">\{{{categoryName}}}</li>
      </ol>
    </div>
  </div>

  <div class="block block--subpage-header">
    <div class="container">
      <h2 class="h1 block__header">\{{{categoryName}}}</h2>
    </div>
  </div>

  <div class="block">
    <div class="container">
      <div class="block__content">
        <div class="text-center">\{{{categorySynopsis}}}</p>
        {{> location-description }}
        <div class="block__section">
          <p>Sorry, no services near your location could be found. Please choose another location from the list, or <a href="/find-help">go back</a> and choose another category.</p>
          <p>If you know of organisations nearby that should be included in here, please use our <a href="/register">registration form, or <a href="mailto:info@streetsupport.net">get in touch</a>.</a></p>
        </div>
      </div>
    </div>
  </div>
</script>

<script id="js-category-result-tpl" type="text/template">

  <div class="block block--breadcrumbs">
    <div class="container">
      <ol class="breadcrumbs__list">
        <li class="breadcrumbs__item"><a href="/">Home</a></li>
        <li class="breadcrumbs__item"><a href="/find-help/">Find Help</a></li>
        <li class="breadcrumbs__item">\{{{categoryName}}}</li>
      </ol>
    </div>
  </div>

  <div class="block block--subpage-header">
    <div class="container">
      <h2 class="h1  block__header block__header--find-help has-icon--left">
        <svg class="block__header__icon--find-help svg-\{{categoryId}}-dims">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{site.url}}assets/svgsprite.svg#\{{categoryId}}"></use>
        </svg>
        \{{{categoryName}}}
      </h1>
    </div>
  </div>

  <div class="block">
    <div class="container">
      <div class="block__content">
        <div class="text-center">\{{{categorySynopsis}}}</p>
        {{> location-description}}

        {{> category-view-selector provider="true" }}
        
        \{{#shouldShowFilter}}
        <div class="subcat-filter">
          <p class="subcat-filter__label">Filter by service provided:</p>
          <ul class="list-to-dropdown subcat-filter__items">
            <li class="subcat-filter__item js-filter-item on" data-id="">All</li>
            \{{#subCategories}}
            <li class="subcat-filter__item js-filter-item" data-id="\{{id}}">\{{name}}</li>
            \{{/subCategories}}
          </ul>
        </div>
        \{{/shouldShowFilter}}

        <div class="result-detail">
          \{{#organisations}}
          <div class="accordion js-accordion">
            <h3 id="\{{{providerId}}}" class="h3 accordion__header js-header" data-subcats="\{{#subCategories}} \{{id}} \{{/subCategories}}">
              \{{{providerName}}}
            </h3>
            <div class="accordion__item js-item" id="\{{providerId}}" data-subcats="\{{#subCategories}} \{{id}} \{{/subCategories}}">
              <div class="accordion__inner">
                \{{#services}}
                <div class="result-detail__item">
                  <div class="result-detail__content">
                    \{{#info}}<p class="result-detail__description">\{{{info}}}</p>\{{/info}}
                    <p>Services available: <span class="result-detail__tags-item">\{{servicesAvailable}}</span></p>
                    \{{#tags}}<h2 class="h2 result-detail__sub-header">Additional Info</h2>
                    <p>Suitable for: <span class="result-detail__tags-item">\{{tags}}</span></p>\{{/tags}}
                  </div>
                  <div class="result-detail__opening-times">
                    <h2 class="h2">Opening Times</h2>
                    <dl class="result-detail__times-list">
                      \{{#days}}
                      <dt class="result-detail__times-title">\{{day}}</dt>
                      \{{#openingTimes}}
                      <dd class="result-detail__times-item result-detail__times-item--provider-listing">\{{ . }}</dd>
                      \{{/openingTimes}}
                      \{{/days}}
                    </dl>
                  </div>
                  \{{#location}}
                  \{{#streetLine1}}
                  <div class="result-detail__location">
                    <h2 class="h2 result-detail__sub-header">Location</h2>
                    \{{#locationDescription}}<p>\{{locationDescription}}</p>\{{/locationDescription}}
                    <ul class="result-detail__address-list">
                      <li class="result-detail__address-item">\{{#streetLine1}} \{{{streetLine1}}}, \{{/streetLine1}} \{{#streetLine2}} \{{{streetLine2}}, \{{/streetLine2}} \{{#streetLine3}} \{{{streetLine3}}, \{{/streetLine3}}
                        \{{#streetLine4}} \{{{streetLine4}}, \{{/streetLine4}}</li>
                      <li class="result-detail__address-item">\{{#city}} \{{city}}, \{{/city}}</li>
                      <li class="result-detail__address-item">\{{#postcode}} \{{postcode}} \{{/postcode}} - <a href="https://www.google.co.uk/maps/place/\{{postcode}}">View on Map</a></li>
                    </ul>
                  </div>
                  \{{/streetLine1}}
                  \{{/location}}
                </div>
                \{{/services}}
                <a class="btn btn--brand-d result-detail__btn" href="/find-help/organisation/?organisation=\{{providerId}}">
                  <span class="btn__text">More information about \{{{providerName}}}</span>
                </a>
              </div>
            </div>
          </div>
        \{{/organisations}}
      </div>

      <p class="text-center">Please note, the information here is provided and maintained by the organisations. If you see anything that is incorrect or incomplete, please <a href="/contact/">get in touch</a>.</p>

      {{> social-share}}

    </div>
  </div>
</div>
</div>
</script>
