---
title:
description:
image: https://streetsupport.net/assets/img/og/street-support.png
layout: default.hbs
permalink: false
jsBundle: category
section: findhelp
page:
---

{{> no-js}}

<div id="js-category-result-output" class="template"></div>
<div id="spin"></div>

<script id="js-category-no-results-result-tpl" type="text/template">
{{> find-help/breadcrumb }}

<div class="block">
  <div class="container">
    <div class="block__content">
      {{> find-help/header }}
      {{> proximity-search/hogan }}
    </div>
  </div>
</div>

{{> find-help/view-type-tabs }}

<div class="block block--cards">
  <div class="container">
    <div class="block__content">
      {{> no-services }}
      {{> social-share }}
    </div>
  </div>
</div>
</script>

<script id="js-category-result-tpl" type="text/template">
{{> find-help/breadcrumb }}

<div class="block">
  <div class="container">
    <div class="block__content">
      {{> find-help/header }}
      {{> proximity-search/hogan }}
    </div>
  </div>
</div>

{{> find-help/view-type-tabs }}

<div class="block block--cards">
  <div class="container">
    <div class="block__content">
      \{{#shouldShowFilter}}
      <div class="subcat-filter form--highlighted">
        <p class="subcat-filter__label">Filter by service provided:</p>
        <ul class="list-to-dropdown subcat-filter__items">
          <li class="subcat-filter__item js-filter-item on" data-id="">All</li>
          \{{#subCategories}}
          <li class="subcat-filter__item js-filter-item" data-id="\{{id}}">\{{name}}</li>
          \{{/subCategories}}
        </ul>
      </div>
      \{{/shouldShowFilter}}

      <div class="cards__list cards__list--single-col">
        \{{#organisations}}
        <div class="card card--brand-h card--big">
          <div class="card__title">
            <a data-bind="attr: { href: href } ">
              <h1 class="h2" data-subcats="\{{#subCategories}} \{{id}} \{{/subCategories}}">\{{{providerName}}}</h1>
            </a>
          </div>
          <div class="card__details">
            \{{#services}}
            <div class="card__details-entry">
              \{{#info}}\{{{info}}}\{{/info}}
              <dl class="card__details-dictionary">
                <dt class="card__details-dictionary-title">Services available:</dt>
                <dd class="card__details-dictionary-desc">\{{servicesAvailable}}</dd>
                \{{#tags}}
                  <dt class="card__details-dictionary-title">Suitable for:</dt>
                  <dd class="card__details-dictionary-desc">\{{tags}}</dd>
                \{{/tags}}
                
                \{{#location}}
                <dt class="card__details-dictionary-title">Address:</dt>
                <dd class="card__details-dictionary-desc">
                    \{{#locationDescription}}<p>\{{locationDescription}}</p>\{{/locationDescription}}
                    \{{#streetLine1}} \{{{streetLine1}}}, \{{/streetLine1}} 
                    \{{#streetLine2}} \{{{streetLine2}}, \{{/streetLine2}} 
                    \{{#streetLine3}} \{{{streetLine3}}, \{{/streetLine3}}
                    \{{#streetLine4}} \{{{streetLine4}}, \{{/streetLine4}}
                    \{{#city}} \{{city}}. \{{/city}}
                    \{{#postcode}} \{{postcode}}  - <a href="https://www.google.co.uk/maps/place/\{{postcode}}">View on Map</a>\{{/postcode}}
                </dd>
                \{{/location}}
                <dt class="card__details-dictionary-title">Opening times:</dt>
                <dd class="card__details-dictionary-desc">
                  \{{#isOpen247}}
                  Open 24 hours a day, 7 days a week
                  \{{/isOpen247}}
                  \{{^isOpen247}}
                  <dl class="result-detail__times-list">
                    \{{#days}}
                    <dt class="result-detail__times-title">\{{day}}</dt>
                    \{{#openingTimes}}
                    <dd class="result-detail__times-item">\{{ . }}</dd>
                    \{{/openingTimes}}
                    \{{/days}}
                  </dl>
                  \{{/isOpen247}}
                </dd>
                \{{#telephone}}
                <dt class="card__details-dictionary-title">Telephone:</dt>
                <dd class="card__details-dictionary-desc">\{{telephone}}</dd>
                \{{/telephone}}
              </dl>
            </div>
            \{{/services}}
            <a class="card__details__link" href="/find-help/organisation/?organisation=\{{providerId}}">More Information</a>
          </div>
        </div>
        \{{/organisations}}
      </div>
    </div>
  </div>
</div>
</script>
