---
title: Category - Street Support
description: Street support makes it easier to help homeless people. Here are services available near you.
layout: default.hbs
permalink: false
jsBundle: category
section: findhelp
page: category
---

{{> no-js}}

<div id="js-category-result-output" class="template"></div>

<div id="spin"></div>

<script id="js-category-no-results-result-tpl" type="text/template">
<div class="block block--breadcrumbs">
    <div class="container">
      <ol class="breadcrumbs__list">
        <li class="breadcrumbs__item"><a href="/">Home</a></li>
        <li class="breadcrumbs__item"><a href="/find-help/">Find Help</a></li>
        <li class="breadcrumbs__item">\{{{categoryName}}}</li>
      </ol>
    </div>
  </div>

  <div class="block block--subpage-header">
    <div class="container">
      <h2 class="h1 block__header">\{{{categoryName}}}</h2>
      <h3 class="h2 block__sub-header">\{{{categorySynopsis}}}</h3>
    </div>
  </div>

  <div class="block">
    <div class="container">
      <div class="block__content">
        {{> location-description}}
        <div class="result-detail">
          <p>We can't find any services listed near your current location.</p>
          <p>We are currently trialing Street Support in Manchester UK, so if you are trying to access it from elsewhere you won't yet be able to find service information for your city.</p>
          <p>We will be rolling out across the UK and beyond in 2016, so if you are interested in Street Support coming to your city, <a href="/contact/">please get in touch</a>.</p>
          <p>If you would like to see how it works, <a href="\{{pageAsFromManchester}}">click here to set your location to Manchester</a>.</p>
        </div>
      </div>
    </div>
  </div>
</script>

<script id="js-category-result-tpl" type="text/template">

  <div class="block block--breadcrumbs">
    <div class="container">
      <ol class="breadcrumbs__list">
        <li class="breadcrumbs__item"><a href="/">Home</a></li>
        <li class="breadcrumbs__item"><a href="/find-help/">Find Help</a></li>
        <li class="breadcrumbs__item">\{{{categoryName}}}</li>
      </ol>
    </div>
  </div>

  <div class="block block--subpage-header">
    <div class="container">
      <h1 class="h1 block__header">\{{{categoryName}}}</h1>
      <h3 class="h2 block__sub-header">\{{{categorySynopsis}}}</h3>
    </div>
  </div>

  <div class="block">
    <div class="container">
      <div class="block__content">
        {{> location-description}}
        <div class="subcat-filter">
          <p class="subcat-filter__label">Filter by service provided:</p>
          <ul class="list-to-dropdown subcat-filter__items">
            <li class="subcat-filter__item js-filter-item on" data-id="">All</li>
            \{{#subCategories}}
            <li class="subcat-filter__item js-filter-item" data-id="\{{id}}">\{{name}}</li>
            \{{/subCategories}}
          </ul>
        </div>
        <div class="result-detail">
          \{{#organisations}}
          <div class="accordion js-accordion">
            <h3 id="\{{{providerId}}}" class="h3 accordion__header js-header" data-subcats="\{{#subCategories}} \{{id}} \{{/subCategories}}">
              \{{{providerName}}}
            </h3>
            <div class="accordion__item js-item" id="\{{providerId}}" data-subcats="\{{#subCategories}} \{{id}} \{{/subCategories}}">
              <div class="accordion__inner">
                \{{#services}}
                <div class="result-detail__item">
                  <div class="result-detail__content">
                    \{{#info}}<p class="result-detail__description">\{{{info}}}</p>\{{/info}}
                    <h2 class="h2 result-detail__sub-header">Additional Info</h2>
                    \{{#tags}}<p>You must be: <span class="result-detail__tags-item">\{{tags}}</span></p>\{{/tags}}
                    <p>Categories: <span class="result-detail__tags-item">\{{subCategoryList}}</span></p>
                  </div>
                  <div class="result-detail__opening-times">
                    <h2 class="h2">Opening Times</h2>
                    <dl class="result-detail__times-list">
                      \{{#days}}
                      <dt class="result-detail__times-title">\{{day}}</dt>
                      \{{#openingTimes}}
                      <dd class="result-detail__times-item">\{{ . }}</dd>
                      \{{/openingTimes}}
                      \{{/days}}
                    </dl>
                  </div>
                  <div class="result-detail__location">
                    <h2 class="h2 result-detail__sub-header">Location</h2>
                    \{{#locationDescription}}<p>\{{locationDescription}}</p>\{{/locationDescription}}
                    \{{#location}}
                    \{{#streetLine1}}
                    <ul class="result-detail__address-list">
                      <li class="result-detail__address-item">\{{#streetLine1}} \{{streetLine1}}, \{{/streetLine1}} \{{#streetLine2}} \{{streetLine2}}, \{{/streetLine2}} \{{#streetLine3}} \{{streetLine3}}, \{{/streetLine3}}
                        \{{#streetLine4}} \{{streetLine4}}, \{{/streetLine4}}</li>
                      <li class="result-detail__address-item">\{{#city}} \{{city}}, \{{/city}}</li>
                      <li class="result-detail__address-item">\{{#postcode}} \{{postcode}} \{{/postcode}} - <a href="https://www.google.co.uk/maps/place/\{{postcode}}">View on Map</a></li>
                    </ul>
                    \{{/streetLine1}}
                    \{{/location}}
                  </div>
                </div>
                \{{/services}}
                <a class="btn btn--brand-d result-detail__btn" href="/find-help/organisation/?organisation=\{{providerId}}">
                  <span class="btn__text">More information about \{{{providerName}}}</span>
                </a>
              </div>
            </div>
          </div>
        \{{/organisations}}
      </div>

      <p>If you see something missing, incorrect or incomplete, or you would like to know more, please <a href="/contact/">get in touch</a>.</p>

      {{> social-share}}

    </div>
  </div>
</div>
</div>
</script>
