---
title: Find Help - Street Support
description: Street support makes it easier to help homeless people in Manchester. Find help relevant to your needs.
layout: default.hbs
permalink: false
jsBundle: findhelp
pageName: findhelp
---

<div id="js-category-list-output" class="template"></div>

<div id="spin"></div>

<script id="js-category-list-tpl" type="text/template">
  <div class="block block--intro">
    <div class="container block__inner">
      <h1 class="h1 block__header">Find Help</h1>
      <p>Find nearby services to meet the specific needs of someone who is homeless in Manchester.</p>
    </div>
  </div>

  <div class="block">
    <div class="container block__inner">
      <div class="block__content">
        <div class="split">
          <div class="split__element">
            <h2 class="h3">Recently homeless?</h2>
          </div>
          <div class="split__element">
            <a class="btn btn--brand-g" href="/emergency-help/">
              <span class="btn__text">Emergency Advice</span>
            </a>
          </div>
        </div>

        <div class="result-grid">
          \{{#categories}}
            <span class="cta">
              <a class="btn btn--brand-d" href="/\{{page}}/?category=\{{key}}">
                <span class="btn__icon">
                  <svg class="svg-\{{key}}-dims"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#\{{key}}"></use></svg>
                  <span class="btn__overlay"></span>
                </span>
                <span class="btn__text">\{{name}}</span>
              </a>
            </span>
          \{{/categories}}
        </div>

        <div class="split">
          <div class="split__element">
            <h2 class="h3">Looking for an organisation?</h2>
          </div>
          <div class="split__element">
            <a class="btn btn--brand-d" href="/all-service-providers/">
              <span class="btn__text">All organisations</span>
            </a>
          </div>
        </div>

        <div class="split">
          <div class="split__element">
            <h2 class="h3">Need something else?</h2>
          </div>
          <div class="split__element">
            <a class="btn btn--brand-d" href="/contact/">
              <span class="btn__text">Tell us</span>
            </a>
          </div>
        </div>

        <p>If you know of other services, have ideas, or you would like to know more, please <a href="/contact/">get in touch</a>.</p>

        {{> social-share}}

      </div>
    </div>
  </div>
</script>
