---
title: Find Help - Street Support
description: Street support makes it easier to help homeless people in Manchester. Find help relevant to your needs.
image: https://streetsupport.net/assets/img/og/street-support-manchester.png
layout: default.hbs
permalink: false
jsBundle: findhelp
section: findhelp
page: findhelp
---
{{> no-js}}

<div id="js-category-list-output" class="template"></div>

<div id="spin"></div>

<script id="js-category-list-tpl" type="text/template">
  <div class="block block--breadcrumbs">
    <div class="container">
      <ol class="breadcrumbs__list">
        <li class="breadcrumbs__item"><a href="/">Home</a></li>
        <li class="breadcrumbs__item">Find Help</li>
      </ol>
    </div>
  </div>

  <div class="block block--city-header city-header">
    <div class="container container--city-header">
      <h1 class="h1 block__header">Find Help <span class="js-city-label"></span></h1>
      <h2 class="h2 block__sub-header">Find local services to meet specific needs</h2>
      \{{#location}}
      {{> swep-notification }}
      \{{/location}}
    </div>
  </div>

  <div class="block">
    <div class="container">
      <div class="block__content">
        <div class="title-with-button">
          <h2 class="h2 title-with-button__title">Recently homeless?</h2>
          <a class="btn btn--brand-g title-with-button__btn" href="/\{{location.id}}/emergency-help/">
            <span class="btn__text">Get Emergency Advice</span>
          </a>
        </div>

        <div class="block__cta--grid result-grid">
          \{{#categories}}
            <span class="cta">
              <a class="btn btn--brand-d" href="\{{page}}/?category=\{{key}}&location=my-location">
                <span class="btn__icon">
                  <svg class="svg-\{{key}}-dims"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{site.url}}assets/svgsprite.svg#\{{key}}"></use></svg>
                  <span class="btn__overlay"></span>
                </span>
                <span class="btn__text">\{{name}}</span>
              </a>
            </span>
          \{{/categories}}
        </div>

        <div class="title-with-button">
          <h2 class="h3 title-with-button__title">Looking for an organisation?</h2>
          <a class="btn btn--brand-d title-with-button__btn" href="/find-help/all-service-providers/">
            <span class="btn__text">All organisations</span>
          </a>
        </div>

        <p class="text-center">If there are other local services that you know about, or you would like to help us bring Street Support to your area, please <a href="/contact/">get in touch</a>.</p>

        {{> social-share}}

      </div>
    </div>
  </div>
</script>
