---
title: Category by Day - Street Support
description: Street support makes it easier to help homeless people. Here are services available near you.
jsName: categorybyday
---

{{#extend "_default"}}
{{#content "main"}}
<div id="js-category-result-output" class="template"></div>
{{/content}}

{{#content "gutter"}}
<div id="spin"></div>

<script id="js-category-result-tpl" type="text/template">
  <div class="block block--intro">
    <div class="container block__inner">
      \{{#organisations}}
      <h2 class="h1 block__header">\{{categoryName}}</h2>
      \{{/organisations}}
    </div>
  </div>

  <div class="block">
    <div class="container block__inner">
      <div class="block__content">
        \{{#organisations}}
        <div class="accordion js-accordion">
          \{{#daysServices}}
          <h2 class="h3 accordion__header result__header  js-header">\{{name}}</h2>
            <div class="accordion__item js-item">
              <dl class="accordion__inner result-detail__times-list">
                \{{#serviceProviders}}
                <dt class="result-detail__times-title">\{{#openingTimes}}
                  \{{startTime}} - \{{endTime}}
                  \{{/openingTimes}}
                </dt>
                <dd class="result-detail__times-item">
                  <a href="https://www.google.co.uk/maps/place/\{{address.postcode}}">
                    \{{#address.street}}\{{address.street}}, \{{/address.street}}
                      \{{#address.street1}}\{{address.street1}}, \{{/address.street1}}
                      \{{#address.street2}}\{{address.street2}}, \{{/address.street2}}
                      \{{#address.street3}}\{{address.street3}}, \{{/address.street3}}
                      \{{#address.city}}\{{address.city}}. \{{/address.city}}
                      \{{address.postcode}}
                  </a> <a href="organisation.html?organisation=\{{key}}">\{{name}}</a>
                  <p>efaf ewfaw ea fefwaf fef\{{#openingTimes}}
                  \{{description}}
                  \{{/openingTimes}}</p>
                </dd>
                \{{/serviceProviders}}
              </dl>
            </div> 
          \{{/daysServices}}
        </div> 
        \{{/organisations}}
      </div>
    </div>
  </div>
</script>
{{/content}}
{{/extend}}
