---
title: Category - Street Support
description: Street support makes it easier to help homeless people. Here are services available near you.
jsName: category
---

{{#extend "_default"}}
  {{#content "main"}}
    <div id="js-category-result-output" class="template"></div>
  {{/content}}

  {{#content "gutter"}}
    <div id="spin"></div>

    <script id="js-category-result-tpl" type="text/template">
      <div class="block block--intro">
        <div class="container block__inner">
          \{{#organisations}}
            <h2 class="h1 block__header">\{{name}}</h2>
          \{{/organisations}}
        </div>
      </div>

      <div class="block">
        <div class="container block__inner">
          <div class="block__content">
            <div class="result-list">
              \{{#organisations}}
                \{{#subCategories}}
                  <div class="result-list__category">
                    <h2 class="h1 result-list__header">\{{name}}</h2>
                    <ul class="result-list__list">
                    \{{#serviceProviders}}
                      <li class="result-list__item">
                        <h3 class="h2 result-list__subheader"><a href="organisation.html?organisation=\{{key}}">\{{name}}</a></h3>
                        \{{#address}}
                          <ul class="result-list__address-list">
                            <li class="result-list__address-item">\{{#street}} \{{street}}, \{{/street}} \{{#street1}} \{{street1}}, \{{/street1}} \{{#street2}} \{{street2}}, \{{/street2}}
                            \{{#street3}} \{{street3}}, \{{/street3}}</li>
                            <li class="result-list__address-item">\{{#city}} \{{city}}, \{{/city}}</li>
                            <li class="result-list__address-item">\{{#postcode}} \{{postcode}} \{{/postcode}}</li>
                          </ul>
                        \{{/address}}
                        <p class="result-list__description">\{{serviceInfo}}</p>
                        <a class="btn btn--brand-d result-list__btn" href="organisation.html?organisation=\{{key}}">
                          <span class="btn__text">More information</span>
                        </a>
                      </li>
                    \{{/serviceProviders}}
                    </ul>
                  </div>
                \{{/subCategories}}
              \{{/organisations}}
            </div>
          </div>
        </div>
      </div>
    </script>
  {{/content}}
{{/extend}}
