---
title: Category by Day - Street Support
description: Street support makes it easier to help homeless people. Here are services available near you.
jsName: categorybyday
---

{{#extend "_default"}}
{{#content "main"}}
<div id="js-category-result-output" class="template"></div>
{{/content}}

{{#content "gutter"}}
<div id="spin"></div>

<script id="js-category-no-results-result-tpl" type="text/template">
  <div class="block block--intro">
    <div class="container block__inner">
      \{{#organisations}}
        <h2 class="h1 block__header">\{{categoryName}}</h2>
      \{{/organisations}}
    </div>
  </div>

  <div class="block">
    <div class="container block__inner">
      <div class="block__content">
        <div class="result-detail">
          <p>We can't find any services listed near your current location.</p>
          <p>We are currently trialing Street Support in Manchester UK, so if you are trying to access it from elsewhere you won't yet be able to find service information for your city.</p>
          <p>We will be rolling out across the UK and beyond in 2016, so if you are interested in Street Support coming to your city, <a href="contact.html">please get in touch</a>.</p>
          <p>If you would like to see how it works, click here to set your location to Manchester.</p>
        </div>
      </div>
    </div>
  </div>
</script>

<script id="js-category-result-tpl" type="text/template">
  <div class="block block--intro">
    <div class="container block__inner">
      \{{#organisations}}
      <h2 class="h1 block__header">\{{categoryName}}</h2>
      \{{/organisations}}
    </div>
  </div>

  <div class="block">
    <div class="container block__inner">
      <div class="block__content">
        \{{#organisations}}
        <div class="accordion js-accordion">
          \{{#daysServices}}
          <h2 class="h3 accordion__header result__header  js-header">\{{name}}</h2>
            <div class="accordion__item js-item">
              <dl class="accordion__inner result-detail__times-list">
                \{{#serviceProviders}}
                <dt class="result-detail__times-title">\{{#openingTimes}}
                  \{{startTime}} - \{{endTime}}
                  \{{/openingTimes}}
                </dt>
                <dd class="result-detail__times-item">
                  <ul>
                    <li>
                        \{{#address.street}} \{{address.street}}, \{{/address.street}}
                        \{{#address.street1}} \{{address.street1}}, \{{/address.street1}}
                        \{{#address.street2}} \{{address.street2}}, \{{/address.street2}}
                        \{{#address.street3}} \{{address.street3}}, \{{/address.street3}}
                        \{{#address.city}} \{{address.city}}. \{{/address.city}}
                        \{{address.postcode}} - <a href="https://www.google.co.uk/maps/place/\{{address.postcode}}">Map</a>
                    </li>
                    <li>\{{name}} - <a href="organisation.html?organisation=\{{key}}">More information</a></li>
                    <li>\{{#openingTimes}} \{{description}} \{{/openingTimes}}</li>
                  </ul>
                </dd>
                \{{/serviceProviders}}
              </dl>
            </div>
          \{{/daysServices}}
        </div>
        \{{/organisations}}
      </div>

      {{> social-share}}
    </div>
  </div>
</script>
{{/content}}
{{/extend}}
