---
title: Category by Day - Street Support
description: Street support makes it easier to help homeless people. Here are services available near you.
jsName: categorybyday
---

{{#extend "_default"}}
  {{#content "main"}}
    {{> no-js}}
    <div id="js-category-result-output" class="template"></div>
  {{/content}}

  {{#content "gutter"}}
    <div id="spin"></div>

    <script id="js-category-no-results-result-tpl" type="text/template">
      <div class="block block--intro">
        <div class="container block__inner">
          \{{#organisations}}
            <h2 class="h1 block__header">\{{categoryName}}</h2>
          \{{/organisations}}
          <div class="block__content">
            <p>Showing services within 10k of your location.</p>
          </div>
        </div>
      </div>

      <div class="block">
        <div class="container block__inner">
          <div class="block__content">
            <div class="result-detail">
              <p>We can't find any services listed near your current location.</p>
              <p>We are currently trialing Street Support in Manchester UK, so if you are trying to access it from elsewhere you won't yet be able to find service information for your city.</p>
              <p>We will be rolling out across the UK and beyond in 2016, so if you are interested in Street Support coming to your city, <a href="contact.html">please get in touch</a>.</p>
              <p>If you would like to see how it works, <a href="category-by-day.html?category=\{{#organisations}}\{{categoryKey}}\{{/organisations}}&location=manchester">click here to set your location to Manchester</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </script>

    <script id="js-category-result-tpl" type="text/template">
      <div class="block block--intro">
        <div class="container block__inner">
          \{{#organisations}}
          <h2 class="h1 block__header">\{{categoryName}}</h2>
          \{{/organisations}}
          <div class="block__content">
              <p>Showing services within 10k of your location.</p>
            </div>
        </div>
      </div>

      <div class="block">
        <div class="container block__inner">
          <div class="block__content">
            \{{#organisations}}
            <div class="accordion accordion--day js-accordion">
              \{{#daysServices}}
              <button class="h3 accordion__header result__header js-header">\{{name}}<span class="icon icon-plus"></span></button>
                <div class="accordion__item js-item">
                  <div class="accordion__inner result-detail__times-list">
                    \{{#serviceProviders}}
                    <div class="result-detail__item">
                      <div class="result-detail__times-title h2">\{{#openingTimes}}
                        \{{startTime}} - \{{endTime}}
                        \{{/openingTimes}}
                      </div>
                      <div class="result-detail__times-item">
                        <ul>
                          <li class="h3">\{{#openingTimes}} \{{{description}}} \{{/openingTimes}}</li>
                          \{{#tags}}
                          <li>You must be: <span class="result-detail__tags-item">\{{tags}}</span></li>
                          \{{/tags}}
                          <li><a href="organisation.html?organisation=\{{key}}">About \{{name}}</a></li>
                          <li>
                              \{{#address.street}} \{{address.street}}, \{{/address.street}}
                              \{{#address.street1}} \{{address.street1}}, \{{/address.street1}}
                              \{{#address.street2}} \{{address.street2}}, \{{/address.street2}}
                              \{{#address.street3}} \{{address.street3}}, \{{/address.street3}}
                              \{{#address.city}} \{{address.city}}. \{{/address.city}}
                              \{{address.postcode}} - <a href="https://www.google.co.uk/maps/place/\{{address.postcode}}">Map</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    \{{/serviceProviders}}
                  </div>
                </div>
              \{{/daysServices}}
            </div>
            \{{/organisations}}
          </div>

          <p>This site is currently under review. If you see something missing, incorrect or incomplete, or you would like to know more, please <a href="contact.html">get in touch</a>.</p>

          {{> social-share}}

        </div>
      </div>
    </script>
  {{/content}}
{{/extend}}
