---
title: Category by Day - Street Support
description: Street support makes it easier to help homeless people. Here are services available near you.
jsName: categorybyday
---

{{#extend "_default"}}
  {{#content "main"}}
    <div id="js-category-result-output" class="template category-result"></div>
  {{/content}}

  {{#content "gutter"}}
    <div id="spin"></div>

    <script id="js-category-result-tpl" type="text/template">
      <div class="block block--intro">
        <div class="container block__inner">
          \{{#organisations}}
            <h2 class="h1 block__header">\{{categoryName}}</h2>
          \{{/organisations}}
        </div>
      </div>

      <div class="block">
        <div class="container block__inner">
          <div class="block__content">
            \{{#organisations}}
              \{{#daysServices}}
                <div class="result__category">
                  <h2 class="h1 result__header">\{{name}}</h2>
                    <table>
                      <thead>
                        <tr>
                        <th>When</th>  
                        <th>Who</th>  
                        <th>Where</th> 
                        <th>What</th>  
                        </tr>
                        </thead>
                  \{{#serviceProviders}}
                        <tbody>
                        <tr>
                        <td>
                    \{{#openingTimes}}
                      \{{startTime}} - \{{endTime}}
                    \{{/openingTimes}}
                    </td>
                    <td><a href="organisation.html?organisation=\{{key}}">\{{name}}</a></td>
                    <td>
                      <a href="https://www.google.co.uk/maps/place/\{{address.postcode}}">
                        <p>\{{#address.street}}\{{address.street}}</br>\{{/address.street}}
                        \{{#address.street1}}\{{address.street1}}</br>\{{/address.street1}}
                        \{{#address.street2}}\{{address.street2}}</br>\{{/address.street2}}
                        \{{#address.street3}}\{{address.street3}}</br>\{{/address.street3}}
                        \{{#address.city}}\{{address.city}}</br>\{{/address.city}}
                        \{{address.postcode}}</p>
                      </a>
                    </td>
                    <td>\{{serviceInfo}}</td>
                    </tr>
                    </tbody>
                  \{{/serviceProviders}}
                    </table>
                </div> 
              \{{/daysServices}}
            \{{/organisations}}
          </div>
        </div>
      </div>
    </script>
  {{/content}}
{{/extend}}
