---
title: Requests (Prototype) - Street Support
description: xx
layout: default.hbs
permalink: false
jsBundle: giverequests
---

<div id="js-card-search" class="requests-search is-active">
  <div class="block block--intro">
    <div class="container block__inner">
      <h1 class="h1 block__header">Requests (Prototype)</h1>
      <a href="give-help.html">Other ways to give help</a>
    </div>
  </div>

  <div class="block">
    <div class="container block__inner">
      <div class="block__content">
        <div class="requests-search__input" action="#">
          <h2 class="h2 requests-search__input__header">What can you give?</h2>
          <input autofocus placeholder="Search" class="awesomplete search requests-search__autocomplete" data-list="coffee4craig, Breakfast in Bed Street Life Project, lifeshare, booth centre, cups,cutlery,crockery,administration,accommodation,translation,languages,waterproofs,outdoor clothing,coats,dbs,pat testing,electrician,financial,mentoring,interview skills,job seeking,maintenance,odd job,repair,cleaning" />
          <button class="btn btn--brand-e requests-search__input__submit">
           <span class="btn__text">Search</span>
         </button>
       </div>

       <div class="requests-search__filter">
        <ul class="requests-search__filter__list js-filter-list">
          <li class="requests-search__filter__item js-filter-item js-filter-item-all is-active" data-filter="all">
            <span class="hide-screen">Show </span>All
          </li>
          <li class="requests-search__filter__item js-filter-item" data-filter="items">
            <span class="hide-screen">Filter by </span>Items
          </li>
          <li class="requests-search__filter__item js-filter-item" data-filter="time">
            <span class="hide-screen">Filter by </span>Time
          </li>
          <li class="requests-search__filter__item js-filter-item" data-filter="money">
            <span class="hide-screen">Filter by </span>Money
          </li>
        </ul>
      </div>

      {{!--
        <div class="requests-search__sort">
          <h2 class="h3 requests-search__sort__header">Sort by:</h2>
          <select class="requests-search__sort__list">
            <option value="organisation">Select</option>
            <option value="organisation-a">Organisation name (A-Z)</option>
            <option value="organisation-d">Organisation name (Z-A)</option>
            <option value="date-a">Date posted (Newest)</option>
            <option value="date-d">Date posted (Oldest)</option>
          </select>
        </div>
        --}}

        <div id="js-card-list-output"></div>
      </div>
    </div>
  </div>
</div>

<div class="requests-detail js-card-detail is-hidden">
  <div id="js-card-detail-output" class="template"></div>
</div>

<script id="js-card-list-tpl" type="text/template">
  <ul id="js-card-list" class="requests-listing list">
    \{{#card}}
    <li class="requests-listing__item" data-id="\{{id}}">
      <a class="requests-listing__link" href="#">
        <article>
          <p class="h3 requests-listing__type type">
            <svg class="svg-logo-dims requests-listing__icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#logo"></use>
            </svg>
            \{{type}}
          </p>
          \{{#donationAmountInPounds}}<p class="requests-listing__amount">£\{{{donationAmountInPounds}}}</p>\{{/donationAmountInPounds}}

          <div class="requests-listing__info">
            <h3 class="requests-listing__provider serviceProviderName">\{{{serviceProviderName}}}</h3>
            <p class="requests-listing__date creationDate">Posted: <time datetime={{{creationDate}}}>\{{{creationDate}}}</time></p>
          </div>

          <p class="requests-listing__location-description locationDescription">\{{{locationDescription}}}</p>
          <p class="requests-listing__description">\{{{description}}}</p>
        </article>
      </a>
    </li>
    \{{/card}}
  </ul>
</script>

<script id="js-card-detail-tpl" type="text/template">
  \{{#card}}
  <div class="block block--intro">
    <div class="container block__inner">
      <h1 class="h1 block__header">\{{{description}}}</h1>
      <h2 class="h2 block__subheader requests-detail__type">Request: \{{{type}}} \{{#donationAmountInPounds}}- £\{{donationAmountInPounds}}\{{/donationAmountInPounds}}</h2>
      <p><a href="#" class="js-card-back">Back to Requests</a></p>
    </div>
  </div>

  <div class="block">
    <div class="container block__inner">
      <div class="block__content">
        <h2 class="h2">\{{{serviceProviderName}}}</h2>
        <h3 class="h3">\{{{serviceProviderSynopsis}}}</h3>
        <p>Posted: \{{{creationDate}}}</p>
        <p>\{{{reason}}}</p>
        <p>\{{{instructions}}}</p>
        <h3 class="h2">Location</h3>
        <img src="holder.js/100px300?text=Google Map Here \n Postcode: \{{{postcode}}}">

        <h3 class="h2">Contact details</h3>
        <p>Email: <a href="mailto:\{{{email}}}">\{{{email}}}</a></p>
        <p><strong>Developer Note: </strong>This should be a call to action which opens a form</p>

        <h3 class="h2">Share this request</h3>
        <p>If you cannot fulfill this need but know someone who can, please send this request on:</p>
        <ul>
          <li>Facebook</li>
          <li>Twitter</li>
          <li>Send an Email</li>
        </ul>
      </div>
      <p><a href="#" class="js-card-back">Back to Requests</a></p>
    </div>
  </div>
  \{{/card}}
</script>
