---
title: Requests (Prototype) - Street Support
description: xx
layout: default.hbs
permalink: false
jsBundle: giverequests
---

<div id="js-card-search" class="requests-search is-active">
  <div class="block block--intro">
    <div class="container block__inner">
      <h1 class="h1 block__header">Requests (Prototype)</h1>
      <a href="give-help.html">Other ways to give help</a>
    </div>
  </div>

  <div class="block">
    <div class="container block__inner">
      <div class="block__content">
        <div class="requests-search__input" action="#">
          <h1 class="h2 requests-search__input__header">What can you give?</h1>
          <input autofocus placeholder="Search" class="awesomplete search requests-search__autocomplete" data-list="coffee4craig, mad dogs, coat, bedding" />
        </div>

        <div class="requests-search__filter">
          <h2 class="h3 requests-search__filter__header">Filter by:</h2>
          <ul class="requests-search__filter__list js-filter-list">
            <li class="requests-search__filter__item js-filter-item js-filter-item-all is-active" data-filter="all">All</li>
            <li class="requests-search__filter__item js-filter-item" data-filter="items">Items</li>
            <li class="requests-search__filter__item js-filter-item" data-filter="time">Time</li>
            <li class="requests-search__filter__item js-filter-item" data-filter="money">Money</li>
          </ul>
        </div>

        <div class="requests-search__sort">
          <h2 class="h3 requests-search__sort__header">Sort by:</h2>
          <select class="requests-search__sort__list">
            <option value="organisation">Select</option>
            <option value="organisation-a">Organisation name (A-Z)</option>
            <option value="organisation-d">Organisation name (Z-A)</option>
            <option value="date-a">Date posted (Newest)</option>
            <option value="date-d">Date posted (Oldest)</option>
          </select>
        </div>

        <div id="js-card-list-output"></div>
      </div>
    </div>
  </div>
</div>

<div class="requests-detail js-card-detail is-hidden">
  <div id="js-card-detail-output" class="template"></div>
</div>

<script id="js-card-list-tpl" type="text/template">
  <ul id="js-card-list" class="requests-listing list">
  \{{#card}}
    <li class="requests-listing__item" data-id="\{{id}}">
      <a href="#">
        <h2 class="h3 requests-listing__type type">\{{type}}</h2>
        <h3 class="h3 requests-listing__provider serviceProviderName">\{{serviceProviderName}}</h3>
        <p class="requests-listing__date creationDate">Posted: <strong>\{{creationDate}}</strong></p>
        <p>\{{description}}</p>
      </a>
    </li>
  \{{/card}}
  </ul>
</script>

<script id="js-card-detail-tpl" type="text/template">
  \{{#card}}
    <div class="block block--intro">
      <div class="container block__inner">
        <h1 class="h1 block__header">\{{serviceProviderName}}</h1>
        <h2 class="h2 block__subheader">\{{description}}</h2>
      </div>
    </div>

    <div class="block">
      <div class="container block__inner">
        <div class="block__content">
          <p>\{{creationDate}}</p>
          <p>\{{reason}}</p>
          <p>\{{instructions}}</p>
          <p>\{{email}}</p>
        </div>
      </div>
    </div>
  \{{/card}}
</script>
