---
title: Organisation - Street Support
description: Street support makes it easier to help homeless people.
jsName: organisation
---

{{#extend "_default"}}
  {{#content "main"}}
    <div id="js-organisation-output" class="template organisation"></div>
  {{/content}}

  {{#content "gutter"}}
    <div id="spin"></div>
    
    <script id="js-organisation-tpl" type="text/template">
      <div class="block block--intro">
        <div class="container block__inner">
          \{{#organisation}}
            <h2 class="h1 block__header">\{{name}}</h2>
          \{{/organisation}}
        </div>
      </div>

      <div class="block">
        <div class="container block__inner">
          <div class="block__content">
            \{{#organisation}}
              <div class="organisation__item">
                <h2 class="organisation__header">\{{name}}</h2>
                <p>\{{description}}</p>
                <p>Area Serviced: \{{areaServiced}}</p>
                <h3>Offices</h3>
                \{{#addresses}}
                <p>\{{street}}</br>\{{street1}}</br>\{{street2}}</br>\{{street3}}</br>
                \{{city}}</br>
                \{{postcode}}</p>
                \{{/addresses}}
                <h3>Services Provided</h3>
                <ul>
                  \{{#providedServices}}
                    <li>
                      <p>\{{name}}</p>
                      <p>\{{info}}</p>
                      <p>\{{address.street}}</br>\{{address.street1}}</br>\{{address.street2}}</br>\{{address.street3}}</br>
                      \{{address.city}}</br>
                      \{{address.postcode}}</p>
                      <h4>Opening Times</h4>
                      <ul>
                  \{{#openingTimes}}
                         <li>\{{day}} \{{startTime}} \{{endTime}}
</li>                        
                  \{{/openingTimes}}
                      </ul>
                    </li>
                  \{{/providedServices}}
                </ul>

                <h3>Contact</h3>
                <dl>
                  <dt>Telephone:</dt>
                  <dd>\{{telephone}}</dd>
                  <dt>Email:</dt>
                  <dd>\{{email}}</dd>
                  <dt>Website:</dt>
                  <dd>\{{website}}</dd>
                  <dt>Twitter:</dt>
                  <dd>\{{twitter}}</dd>
                  <dt>Facebook:</dt>
                  <dd>{{facebook}}</dd>
                </dl>
              </div>
            \{{/organisation}}
          </div>
        </div>
      </div>
    </script>
  {{/content}}
{{/extend}}
