---
title: Organisation - Street Support
description: Test Description
jsName: organisation
---

{{#extend "_default"}}
  {{#content "main"}}
    <div id="js-organisation-output" class="organisation"></div>
  {{/content}}

  {{#content "gutter"}}
    <script id="js-organisation-tpl" type="text/template">
      \{{#organisation}}
        <div class="block block--intro">
          <div class="container block__inner">
            <h2 class="h1 block__header">\{{name}}</h2>
          </div>
        </div>

        <div class="block">
          <div class="container block__inner">
            <div class="block__content">
                  <div class="organisation__item">
                    <h2 class="organisation__header">\{{name}}</h2>
                    <p>\{{description}}</p>
                    <p>\{{address.street}}</br>
                    \{{address.city}}</br>
                    \{{address.postcode}}</p>
                    <p>Area Serviced: \{{areaServiced}}</p>

                    <h3>Services Provided</h3>
                    <ul>
                      \{{#servicesProvided}}
                        <li>
                          <p>\{{info}}</p>
                          <p>\{{timeAndLocation}}</p>
                        </li>
                      \{{/servicesProvided}}
                    </ul>

                    <h3>Contact</h3>
                    <dl>
                      <dt>Telephone:</dt>
                      <dd>\{{telephone}}</dd>
                      <dt>Email:</dt>
                      <dd>\{{email}}</dd>
                      <dt>Website:</dt>
                      <dd>\{{website}}</dd>
                      <dt>Twitter:</dt>
                      <dd>\{{twitter}}</dd>
                      <dt>Facebook:</dt>
                      <dd>{{facebook}}</dd>
                    </dl>
                  </div>
            </div>
          </div>
        </div>
      \{{/organisation}}
    </script>
  {{/content}}
{{/extend}}
