---
title: Organisation - Street Support
description: Street support makes it easier to help homeless people.
jsName: organisation
---

{{#extend "_default"}}
  {{#content "main"}}
    {{> no-js}}
    <div id="js-organisation-output" class="template"></div>
  {{/content}}

  {{#content "gutter"}}
    <div id="spin"></div>

    <script id="js-organisation-tpl" type="text/template">
      <div class="block block--intro">
        <div class="container block__inner">
          \{{#organisation}}
            <h1 class="h1 block__header">\{{name}}</h1>
            <span>\{{#isVerified}}
              verified
            \{{/isVerified}}
            \{{^isVerified}}
              under review
            \{{/isVerified}}</span>
          \{{/organisation}}
        </div>
      </div>

      <div class="block">
        <div class="container block__inner">
          <div class="block__content">
            <div class="result-detail">
              \{{#organisation}}
                <p>\{{{description}}}</p>
                \{{#addresses}}
                  <ul class="result-detail__address-list">
                    <li class="result-detail__address-item">\{{#street}} \{{street}}, \{{/street}} \{{#street1}} \{{street1}}, \{{/street1}} \{{#street2}} \{{street2}}, \{{/street2}}
                    \{{#street3}} \{{street3}}, \{{/street3}}</li>
                    <li class="result-detail__address-item">\{{#city}} \{{city}}, \{{/city}}</li>
                    <li class="result-detail__address-item">\{{#postcode}} \{{postcode}} - <a href="https://www.google.co.uk/maps/place/\{{postcode}}">Map</a> \{{/postcode}}</li>
                  </ul>
                \{{/addresses}}
                \{{#providedServices.0}}
                  <h2 class="h3">Opening Times</h2>
                  <dl class="result-detail__times-list">
                    \{{#openingTimes}}
                    <dt class="result-detail__times-title">\{{day}}</dt>
                    <dd class="result-detail__times-item">\{{startTime}} - \{{endTime}}</dd>
                    \{{/openingTimes}}
                  </dl>
                \{{/providedServices.0}}

                <h2 class="h2">Services Provided</h2>
                <div class="accordion accordion--organisation js-accordion">
                  \{{#providedServices}}
                    <button class="h3 accordion__header js-header">\{{name}}<span class="icon icon-plus"></span></button>
                    <div class="accordion__item js-item">
                      <div class="accordion__inner">
                        <p>\{{{info}}}</p>
                        \{{#tags}}
                          <p>You must be: <span class="result-detail__tags-item">\{{tags}}</span></p>
                        \{{/tags}}
                        <h2 class="h3">Service Address</h2>
                        \{{#address}}
                          <ul class="result-detail__address-list">
                            <li class="result-detail__address-item">\{{#street}} \{{street}}, \{{/street}} \{{#street1}} \{{street1}}, \{{/street1}} \{{#street2}} \{{street2}}, \{{/street2}}
                            \{{#street3}} \{{street3}}, \{{/street3}}</li>
                            <li class="result-detail__address-item">\{{#city}} \{{city}}, \{{/city}}</li>
                            <li class="result-detail__address-item">\{{#postcode}} \{{postcode}} \{{/postcode}} - <a href="https://www.google.co.uk/maps/place/\{{postcode}}">Map</a></li>
                          </ul>
                        \{{/address}}
                        <h2 class="h3">Opening Times</h2>
                        <dl class="result-detail__times-list">
                          \{{#openingTimes}}
                          <dt class="result-detail__times-title">\{{day}}</dt>
                          <dd class="result-detail__times-item">\{{startTime}} - \{{endTime}}</dd>
                          \{{/openingTimes}}
                        </dl>
                      </div>
                    </div>
                  \{{/providedServices}}
                </div>

                <h2 class="h2">Contact</h2>
                <dl class="result-detail__times-list">
                  \{{#telephone}}
                    <dt class="result-detail__times-title">Telephone:</dt>
                    <dd class="result-detail__times-item"><a href="tel:\{{telephone}}">\{{telephone}}</a></dd>
                  \{{/telephone}}
                  \{{#email}}
                    <dt class="result-detail__times-title">Email:</dt>
                    <dd class="result-detail__times-item"><a href="mailto:\{{email}}">\{{email}}</a></dd>
                  \{{/email}}
                  \{{#website}}
                    <dt class="result-detail__times-title">Website:</dt>
                    <dd class="result-detail__times-item"><a href="\{{website}}">Website</a></dd>
                  \{{/website}}
                  \{{#twitter}}
                    <dt class="result-detail__times-title">Twitter:</dt>
                    <dd class="result-detail__times-item"><a href="\{{twitter}}">Twitter page</a></dd>
                  \{{/twitter}}
                  \{{#facebook}}
                    <dt class="result-detail__times-title">Facebook:</dt>
                    <dd class="result-detail__times-item"><a href="\{{facebook}}">Facebook page</a></dd>
                  \{{/facebook}}
                </dl>
              \{{/organisation}}

              <p>This site is currently under review. If you see something missing, incorrect or incomplete, or you would like to know more, please <a href="contact.html">get in touch</a>.</p>

              {{> social-share}}

            </div>
          </div>
        </div>
      </div>
    </script>
  {{/content}}
{{/extend}}
