---
title: Category by Location - Street Support
description: Street support makes it easier to help homeless people. Here are services available near you.
layout: withGoogle.hbs
permalink: false
jsBundle: categorybylocation
section: findhelp
page: categorybylocation
---

{{> no-js}}

<div id="js-category-result-output" class="template"></div>

<div id="spin"></div>

<script id="js-category-no-results-result-tpl" type="text/template">
  <div class="block block--breadcrumbs">
    <div class="container">
      <ol class="breadcrumbs__list">
        <li class="breadcrumbs__item"><a href="/">Home</a></li>
        <li class="breadcrumbs__item"><a href="/find-help/">Find Help</a></li>
        <li class="breadcrumbs__item">\{{{categoryName}}}</li>
      </ol>
    </div>
  </div>

  <div class="block block--subpage-header">
    <div class="container">
      <h2 class="h1 block__header">\{{{categoryName}}}</h2>
    </div>
  </div>

  <div class="block">
    <div class="container">
      <div class="block__content">
        <div class="text-center">\{{{categorySynopsis}}}</p>
        {{> location-description }}
        <div class="block__section">
          <p>Sorry, no services near your location could be found. Please choose another location from the list, or <a href="/find-help">go back</a> and choose another category.</p>
          <p>If you know of organisations nearby that should be included in here, please use our <a href="/register">registration form, or <a href="mailto:info@streetsupport.net">get in touch</a>.</a></p>
        </div>
      </div>
    </div>
  </div>
</script>

<script id="js-category-result-tpl" type="text/template">

  <div class="block block--breadcrumbs">
    <div class="container">
      <ol class="breadcrumbs__list">
        <li class="breadcrumbs__item"><a href="/">Home</a></li>
        <li class="breadcrumbs__item"><a href="/find-help/">Find Help</a></li>
        <li class="breadcrumbs__item">\{{{categoryName}}}</li>
      </ol>
    </div>
  </div>

  <div class="block block--subpage-header">
    <div class="container">
      <h2 class="h1  block__header block__header--find-help has-icon--left">
        <svg class="block__header__icon--find-help svg-\{{categoryId}}-dims">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{site.url}}assets/svgsprite.svg#\{{categoryId}}"></use>
        </svg>
        \{{{categoryName}}}
      </h1>
    </div>
  </div>

  <div class="block">
    <div class="container">
      <div class="block__content">
        <div class="text-center">\{{{categorySynopsis}}}</p>

        {{> location-description}}

        <div class="category-view-options">
          <p class="category-view-options__title">View as:</p>
          <ul class="category-view-options__items">
            <li class="category-view-options__item">
              <a href="/find-help/category/?category={{categoryId}}" class="btn btn--plain">
                <span class="btn__text">Provider Listing</span>
              </a>
            </li>
            <li>
              <a href="/find-help/category-by-day/?category={{categoryId}}" class="btn btn--plain">
                <span class="btn__text">Timetable</span>
              </a>
            </li>
            <li>
              <a href="/find-help/category-by-location/?category={{categoryId}}" class="btn btn--plain">
                <span class="btn__text">Map</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="js-map" style="width: 100%; height: 500px;"></div>

      </div>

      <p class="text-center">Please note, the information here is provided and maintained by the organisations. If you see anything that is incorrect or incomplete, please <a href="/contact/">get in touch</a>.</p>

      {{> social-share}}

    </div>
  </div>
</div>
</div>
</script>
