---
title: Donate money to the Big Change Fund - Street Support
description: Street support makes it easier to help homeless people. Donate money via the Big Change Fund.
layout: default.hbs
permalink: false
jsBundle: donate
section: givehelp
page: donate
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/give-help/">Give Help</a></li>
      <li class="breadcrumbs__item">Donate</li>
    </ol>
  </div>
</div>

{{>no-js}}

<div class="block block--subpage-header">
  <div class="container">
    <h1 class="h1 block__header has-icon--left">
      <svg class="block__header__icon block__header__icon--big-change"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#big-change--small"></use></svg>
      Donate
    </h1>
    <h2 class="h2 block__sub-header">Donate to support local people who are homeless</h2>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content donation">
      <div id="js-result-output" class="template"></div>
      {{>loading-spinner}}
    </div>
  </div>
</div>

<script id="js-result-tpl" type="text/template">
  <!--<div class="location-selector">
    <label for="location" class="location-selector__label">Filter organisations by: </label>
    <select class="js-donation-location-selector location-selector__select form__input" name="location" id="location">
      \{{#locations}}
      <option \{{#isSelected}}selected\{{/isSelected}} value="\{{id}}">\{{name}}</option>
      \{{/locations}}
    </select>
  </div>-->

  \{{#isManchester}}
    {{> manchester-big-change-promo }}
  \{{/isManchester}}

  <div class="block__section">
    <p>The following organisations rely on donations to continue their work, so they can help people build new lives off the streets.</p>
    <div class="donation__container">
      \{{#organisations}}
      <article class="donation__item">
        <header class="donation__header">
          <h1 class="h3 donation__heading">\{{providerName}}</h1>
        </header>
        <div class="donation__item-inner">
          <p>\{{description}}</p>
          <a href="\{{url}}" class="donation__btn btn btn--brand-d" target="_blank" rel="noopener noreferrer">
            <span class="btn__text">Donate</span>
          </a>
        </div>
      </article>
      \{{/organisations}}
    </div>
  </div>
</script>


<script id="js-no-result-tpl" type="text/template">
  \{{#isManchester}}
    {{> manchester-big-change-promo }}
  \{{/isManchester}}

  \{{^isManchester}}
  <div class="block__section">
    <p>There are currently no organisations in \{{location}} registered with their own donation links. Please choose another location above.</p>
    <p>If you know of local organisations that could be included in this category, please use our <a href="/register">registration form, or <a href="mailto:info@streetsupport.net">let us know</a>.</a></p>
  </div>
  \{{/isManchester}}
</script>
