---
title: Requests for Help - Street Support
description: Organisations need specific items, skills and money to support homeless people - can you help?
image: https://streetsupport.net/assets/img/og/street-support.png
layout: default.hbs
permalink: false
jsBundle: giverequests
section: givehelp
page: giveitems
---
<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/give-help/">Give Help</a></li>
      <li class="breadcrumbs__item">Help</li>
    </ol>
  </div>
</div>
{{> no-js}}

<div id="js-card-search" class="requests-search is-active">
  <div class="block block--subpage-header">
    <div class="container block__inner">
      <h1 class="h1 block__header requests__title">
        <svg class="requests__title__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#give"></use>
        </svg>
        Help
      </h1>
    </div>
  </div>

  <div class="block">
    <div class="container">
      <div class="block__content">
        <div id="js-card-list-output">
          {{> loading-spinner}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="requests-detail js-card-detail is-hidden">
  <div id="js-card-detail-output"></div>
</div>

<script id="js-no-data-tpl" type="text/template">
  <div class="block__section">
    \{{#geoLocationUnavailable}}
    <p>Unfortunately, we cannot determine your location. Please ensure location is enabled on your device.</p>
    \{{/geoLocationUnavailable}}
    \{{^geoLocationUnavailable}}
    <p>There are are no needs registered near you yet. Please use the dropdown above to select another location.</p>
    \{{/geoLocationUnavailable}}
    <p>If you know of local organisations that could be included, please use our <a href="/register">registration form, or if they are already included but their needs aren't listed, please <a href="/contact">let us know</a>.</a></p>
  </div>
</script>

<script id="js-card-list-tpl" type="text/template">
  <section class="block__section">
    <p>You can help make big changes to homelessness by giving items, your time or money to local organisations so they can continue their good work. If you can't spot anything suitable at the moment, use our <a href="/give-help/volunteer/">volunteer form</a>, or <a href="/give-help/offer-items/">offer items</a> that you are willing to donate. Interested organisations will then get in touch with you directly.</p>
  </section>
  <section class="block__section">
    <ul class="requests-search__filter__list">
      <li class="requests-search__filter__item js-filter-item js-filter-item-all is-active" data-filter="all">All</li>
      <li class="requests-search__filter__item js-filter-item" data-filter="items">Items</li>
      <li class="requests-search__filter__item js-filter-item" data-filter="time">Time</li>
      <li class="requests-search__filter__item js-filter-item" data-filter="money">Money</li>
    </ul>
    <div class="requests">
      <div class="requests-search__input" action="#">
        <div class="requests-search__container">
          <h2 class="h2 requests-search__input__header">Showing <span class="">all listings</span> you could help with in \{{location}}.</h2>
          <label for="search-for-requests" class="hide-screen">Search requests for help</label>
          <input autofocus id="search-for-requests" class="search requests-search__autocomplete" placeholder="Search requests for help" />
        </div>
      </div>
      <div class="requests-search__sort">
        <h3 class="h3 requests-search__sort__title">Sort by:</h3>
        <ul class="requests-search__sort__list">
            <li class="requests-search__sort__item">
              <button class="requests-search__sort__criteria js-sort-criteria is-active" data-sort="date-desc">Date Added</button>
            </li>
            <li class="requests-search__sort__item">
              <button class="requests-search__sort__criteria js-sort-criteria" data-sort="organisation-asc">Organisation</button>
            </li>
            <li class="requests-search__sort__item">
              <button class="requests-search__sort__criteria js-sort-criteria" data-sort="distance-asc">Distance</button>
            </li>
        </li>
      </ul>
    </div>

  </section>
  <ul id="js-card-list" class="requests-listing list">
    \{{#card}}
    <li class="requests-listing__item" data-id="\{{id}}">
      <a class="requests-listing__link" href="#">
        <article>
          <p class="h3 requests-listing__type">
           <svg class="svg-logo-dims requests-listing__icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#\{{{type}}}-alt"></use>
          </svg>
          <span class="type">\{{type}}</span>
        </p>
        \{{#donationAmountInPounds}}<p class="requests-listing__amount">£\{{{donationAmountInPounds}}}</p>\{{/donationAmountInPounds}}
        <div class="requests-listing__info">
          <h3 class="requests-listing__description description">\{{{description}}}</h3>
          <p class="requests-listing__date formattedCreationDate">Posted: <time datetime={{{formattedCreationDate}}}>\{{{formattedCreationDate}}}</time></p>
          <p class="hide-screen creationDate">\{{creationDate}}</p>
          <p class="hide-screen distanceAwayInMetres">\{{distanceAwayInMetres}}</p>
          <p class="hide-screen keywords">\{{keywords}}</p>
        </div>
        <div class="requests-listing__secondary-info">
          <p class="requests-listing__provider serviceProviderName">\{{{serviceProviderName}}}</p>
          <p class="requests-listing__location-description locationDescription">\{{{locationDescription}}}</p>
          <button class="btn btn--brand-e">
            <span class="btn__text">I Can Help!</span>
          </button>
        </article>
      </a>
    </li>
    \{{/card}}
  </ul>
</script>

<script id="js-card-not-found-tpl" type="text/template">
  <section class="block block--subpage-header">
    <div class="container block__inner">
      <h1 class="h1 block__header requests__title">
        <svg class="requests__title__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#give"></use>
        </svg>
        Help
      </h1>
      <div class="block__content">
        <p>Sorry, that Need can not be found - it may have been already fulfilled!</P>
        <button class="js-card-back btn btn--brand-e">
          <span class="btn__text">View other Needs</span>
        </button>
      </div>
    </div>
  </section>
</script>

<script id="js-card-detail-tpl" type="text/template">
  {{> need-detail }}
</script>
