<!doctype html>
<html class="no-js" lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{{title}}</title>
    <meta name="description" content="{{description}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="assets/css/site.css" />

    <script>
      (function(d) {
        var config = {
          kitId: 'efe1dsh',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>
  </head>
  <body class="page-{{name}}">

    {{>header-nav}}

    <div class="nav__push js-nav-push">
      {{#block "header"}}
        {{> header}}
      {{/block}}

      {{#block "main"}}
        {{{contents}}}
      {{/block}}

      {{#block "footer"}}
        {{> footer}}
      {{/block}}

      <div class="nav__overlay js-nav-overlay"></div>
    </div>

    {{#block "gutter"}}
      {{{contents}}}
    {{/block}}

    <script src="assets/js/bundle.js"></script>
  </body>
</html>
