{{#unless noWrapper}}<span class="cta">{{/unless}}
  <a class="btn btn--brand-{{brand}}{{#if btnClass}} {{btnClass}}{{/if}}" href="{{link}}">
    {{#if icon}}
      <span class="btn__icon">
        {{>icon name=this.icon}}
        <span class="btn__overlay"></span>
      </span>
    {{/if}}
    <span class="btn__text">{{{name}}}</span>
  </a>
  {{#if label}}
    <p class="cta__description">{{{label}}}</p>
  {{/if}}
{{#unless noWrapper}}</span>{{/unless}}
