<!doctype html>
<html class="no-js" lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{{title}}</title>
    <meta name="description" content="{{description}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{title}}" />
    <meta property="og:description" content="{{description}}" />
    <meta property="og:image" content="{{image}}" />

    <link rel="stylesheet" href="{{site.url}}assets/css/site.css?v={{cachebusting.date}}" />

    {{> head/google-tag-manager }}
    {{> head/web-fonts }}
    {{> head/azure-app-insights }}
    
  </head>
  <body class="page--{{page}} section--{{section}} {{#if nosubnav}}section--nosubnav{{/if}}">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PVPXCXT"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->