<!doctype html>
<html class="no-js" lang="en-GB">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>{{title}}</title>
  <meta name="description" content="{{description}}" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{title}}" />
  <meta property="og:description" content="{{description}}" />
  <meta property="og:image" content="{{image}}" />

  <link rel="stylesheet" href="{{site.url}}assets/css/site.css?v={{cachebusting.date}}" />
  <link rel="shortcut icon" href="{{site.url}}favicon.ico" type="image/x-icon" /> {{> head/google-tag-manager }} {{> head/web-fonts }}
  <style>
    .nav__item--hub-nav {
      display: none
    }

    .breadcrumbs {
      &__list {
        margin: 0;
        padding: 0;
        list-style-type: none;
      }

      &__item {
        margin: 0;
        padding: 0 6px 0 0;
        display: inline-block;
        color: #fff;

        a {
          color: $brand-e;
          text-decoration: none;
        }

        &:last-of-type:after {
          content: none;
        }

        &:after {
          content: '\3E';
          margin-left: 10px;
          color: $brand-e;
        }
      }
    }
  </style>
</head>

<body class="page--{{page}} section--{{section}} location--{{location}}">
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PVPXCXT" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->