<!doctype html>
<html class="no-js" lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{{title}}</title>
    <meta name="description" content="{{description}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{title}}" />
    <meta property="og:description" content="{{description}}" />

    <link rel="stylesheet" href="{{site.url}}assets/css/site.css?v={{cachebusting.date}}" />

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-71468202-1', 'auto');
    </script>
    <script>
      WebFontConfig = {
        custom: ['museo_sans_rounded300', 'museo_sans_rounded500']
      }

      var loadFonts = function (d) {
        var wf = d.createElement('script')
        var s = d.scripts[0]
        wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js'
        s.parentNode.insertBefore(wf, s)
      }
      loadFonts(document)
    </script>
  </head>
  <body class="page--{{page}} section--{{section}} {{#if nosubnav}}section--nosubnav{{/if}}">
