\{{#card}}
  <section class="block block--header">
  <div class="container block__inner">
    <div class="block__content">
      <h1 class="h1 block__subheader requests-detail__type with-icon">
        <svg class="svg-logo-dims requests-detail__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#\{{{type}}}-alt"></use>
        </svg>
        \{{{description}}} \{{#donationAmountInPounds}}- £\{{donationAmountInPounds}}\{{/donationAmountInPounds}}</h1>
        <h2 class="h2 requests-detail__synopsis">\{{{serviceProviderName}}}: \{{{serviceProviderSynopsis}}}</h2>
        <p class="requests-detail__date">Posted: \{{{formattedNeededDate}}}</p>
        <p>\{{{reason}}}</p>
        <p>\{{{instructions}}}</p>
        \{{#moreInfoUrl}}<p><a href="\{{moreInfoUrl}}" target="_blank" rel="noreferrer noopener">View more information</a></p>\{{/moreInfoUrl}}
        <button class="btn btn--large btn--brand-e js-i-can-help-button">
          <span class="btn__text">I Can Help!</span>
        </button>
        <a class="btn btn--large btn--brand-d js-view-provider-button" href="/find-help/organisation/?organisation=\{{serviceProviderId}}">
          <span class="btn__text">Learn more about \{{{serviceProviderName}}}</span>
        </a>
        <button class="btn btn--plain js-card-back"><span class="btn__text">Back to other requests&hellip;</span></button>
      </div>
    </div>
  </section>

  \{{#showLocation}}
  <section>
    <h3 class="h2 requests-detail__heading">Location</h3>
    <iframe frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAUwqpyro0VJKjdb96JS_ejqFuYDg88scg=\{{{postcode}}}" allowfullscreen class="requests-detail__map">
    </iframe>
  </section>
  \{{/showLocation}}

  \{{#showContactForm}}
  <h3 class="h2 requests-detail__heading  requests-detail__heading--i-can-help">I Can Help!</h3>
  <section class="block block--requests-detail">
    <div class="container block__inner">
      <div class="block__content requests-detail__form">
        <!-- ko ifnot: isFormSubmitSuccessful() -->
        <form class="form">
          <fieldset class="form__fieldset" data-bind="with: formModel">
            <legend class="h3">Thanks for your offer to help! Please fill in the form below to let us know what you can do:</legend>
            <ul class="form__field-list">
              <li class="form__field-item form__field-item--full">
                <label class="form__label hide-screen" for="email">Your Email:</label>
                <input type="text" class="form__input form__input--full" data-bind="textInput: email" id="email" placeholder="Email (required)"/>
              </li>
              <li class="form__field-item form__field-item--full">
                <label class="form__label hide-screen" for="message">How you can help:</label>
                <textarea class="form__input form__input--multiline" data-bind="textInput: message" id="message" placeholder="How you can help (required)"></textarea>
              </li>
              <li class="form__field-item form__field-item--full">
                <label class="form__label form__label--checkbox" for="isOptedIn">
                  <input type="checkbox" class="form__input form__input--checkbox" data-bind="checked: isOptedIn" id="isOptedIn"/>
                  I would like to receive occasional update emails from Street Support.
                </label>
              </li>
            </ul>
          </fieldset>
          <button type="submit" class="btn btn--brand-d form__submit" data-bind="click: submit">
            <span class="btn__text">Send</span>
          </button>
        </form>
        <!-- /ko -->
        <!-- ko if: isFormSubmitSuccessful() -->
        <h3 class="h3">Thanks for you offer to help, the requesting organisation will be in touch as soon as possible!</h3>
        <!-- /ko -->
      </div>
    </div>
  </section>
  \{{/showContactForm}}


  <section class="block">
    <div class="container block__inner">
      {{> divider}}
      <div class="block__content requests-detail__metadata">

        <h3 class="h2 requests-detail__metadata__heading">Share this need</h3>
        <p>If you cannot help with this yourself but know others who might be able to, please share this need with them on&hellip;</p>
        <div class="social-share">
          <ul class="list--unstyled list--inline requests-detail__share-list">
            <li class="list--inline__item requests-detail__share-list__item">
              <a href="https://twitter.com/intent/tweet?text=\{{{description}}} needed&via=streetsupportuk" target="_blank" rel="external" class="js-tweet-page" target="_blank">
                {{>icon name="twitter-alt" class="requests-detail__share-list__icon"}}
                Twitter
              </a>
            </li>
            <li class="list--inline__item requests-detail__share-list__item">
              <a href="https://www.facebook.com/sharer/sharer.php" class="js-fb-share-page" target="_blank">
                {{>icon name="facebook-alt" class="requests-detail__share-list__icon"}}
                Facebook
              </a>
            </li>
            <li class="list--inline__item requests-detail__share-list__item">
              <a href="mailto:?&subject=Request: \{{{description}}}" class="js-email-page" target="_blank">
                {{>icon name="email-alt" class="requests-detail__share-list__icon"}}
                Email
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
\{{/card}}
