---
title: Give Items - Street Support
description: Street support makes it easier to help homeless people. Here's how to get in touch.
layout: default.hbs
permalink: false
jsBundle: giverequests
section: givehelp
page: giverequests
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/give-help/">Give Help</a></li>
      <li class="breadcrumbs__item">Give</li>
    </ol>
  </div>
</div>
{{> no-js}}

<div class="block block--subpage-header">
  <div class="container">
    <h1 class="h1 block__header">Give</h1>
    <h2 class="h2 block__sub-header">Give time, money and items that are needed</h2>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>Organisations need a diverse range of resources to provide support to homeless people. If you are able to meet any of their current needs, click the 'I can help!' button, and let us know what you can give.</p>
      <p>This section of the site is currently being improved, so please check back soon for more ways to give. In the meantime, let us know what skills, time and resources you have to offer by filling in our <a href="/give-help/volunteer/">volunteer form</a>.</p>

      <div id="js-need-list-output" class="template"></div>
      {{> social-share}}
    </div>
  </div>
</div>


<script id="js-card-list-tpl" type="text/template">
  <ul id="js-card-list" class="requests-listing list">
  \{{#card}}
    <li class="requests-listing__item" data-id="\{{id}}">
      <a class="requests-listing__link" href="#">
        <article>
          <p class="h3 requests-listing__type">
             <svg class="svg-logo-dims requests-listing__icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#\{{{type}}}-alt"></use>
            </svg>
            <span class="type">\{{type}}</span>
          </p>
          \{{#donationAmountInPounds}}<p class="requests-listing__amount">£\{{{donationAmountInPounds}}}</p>\{{/donationAmountInPounds}}
          <div class="requests-listing__info">
            <h3 class="requests-listing__description description">\{{{description}}}</h3>
            <p class="requests-listing__date formattedCreationDate">Posted: <time datetime={{{formattedCreationDate}}}>\{{{formattedCreationDate}}}</time></p>
            <p class="hide-screen creationDate">\{{creationDate}}</p>
            <p class="hide-screen distanceAwayInMetres">\{{distanceAwayInMetres}}</p>
            <p class="hide-screen keywords">\{{keywords}}</p>
          </div>
          <p class="requests-listing__provider serviceProviderName">\{{{serviceProviderName}}}</p>
          <p class="requests-listing__location-description locationDescription">\{{{locationDescription}}}</p>
        </article>
      </a>
    </li>
  \{{/card}}
  </ul>
</script>

<script id="js-card-detail-tpl" type="text/template">
  \{{#card}}
  <section class="block">
    <div class="container block__inner">
      <div class="block__content">
        <h1 class="h1 block__subheader requests-detail__type with-icon">
        <svg class="svg-logo-dims requests-detail__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#\{{{type}}}-alt"></use>
        </svg>
        Request: \{{{type}}} \{{#donationAmountInPounds}}- £\{{donationAmountInPounds}}\{{/donationAmountInPounds}}</h1>
        <h2 class="h2 requests-detail__name">\{{{serviceProviderName}}}</h2>
        <h3 class="h3 requests-detail__synopsis">\{{{serviceProviderSynopsis}}}</h3>
        <p class="requests-detail__date">Posted: \{{{creationDate}}}</p>
        <p>\{{{reason}}}</p>
        <p>\{{{instructions}}}</p>
      </div>
    </div>
  </section>

  <section class="requests-detail__location">
    <h3 class="h2 requests-detail__location__heading">Location</h3>
    {{!-- @todo: need real API key before going live --}}
    <iframe frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCwsg151CBWQ7kyeApw5TTfY6CMl9YDXHQ&q=\{{{postcode}}}" allowfullscreen class="requests-detail__map">
    </iframe>
  </section>

  <section class="block">
    <div class="container block__inner">
      <div class="block__content requests-detail__metadata">
        <h3 class="h2 requests-detail__metadata__heading">Contact details</h3>

        <div class="accordion js-accordion requests-detail__accordion">
          <button id="requests-detail__contact" class="h3 accordion__header js-header">
              Lorem ipsom dolor amet
              <svg class="svg-plus-dims accordion__icon accordion__icon--open"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#plus"></use></svg>
              <svg class="svg-minus-dims accordion__icon accordion__icon--close"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#minus"></use></svg>
          </button>
          <div class="accordion__item js-item" id="requests-detail__contact">
            <div class="accordion__inner">
              <p>Email: <a href="mailto:\{{{email}}}">\{{{email}}}</a></p>

              <form class="form requests-detail__form">
                <fieldset class="form__fieldset">
                  <p>* denotes a required field.</p>
                  <ul class="form__field-list">
                    <li class="form__field-item form__field-item--full">
                      <label class="form__label">Subject</label>
                      <p>Re: \{{{serviceProviderSynopsis}}}</p>
                    </li>
                    <li class="form__field-item">
                      <label class="form__label" for="email">Email *</label>
                      <input type="text" class="form__input form__input" id="email"/>
                    </li>
                    <li class="form__field-item form__field-item--full">
                      <label class="form__label" for="message">Message *</label>
                      <textarea class="form__input form__input--multiline" id="message"></textarea>
                    </li>
                  </ul>
                </fieldset>
                <button type="submit" class="btn btn--brand-d form__submit">
                  <span class="btn__text">Submit</span>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="block">
    <div class="container block__inner">
      <div class="block__content requests-detail__metadata">

        <h3 class="h2 requests-detail__metadata__heading">Share this need</h3>
        <p>If you cannot share this need but know someone who can please share this request on:</p>
        <div class="social-share">
          <ul class="list-unstyled list-inline requests-detail__share-list">
            <li class="list-inline__item requests-detail__share-list__item">
              <a href="https://twitter.com/intent/tweet?text=\{{{serviceProviderSynopsis}}}&via=streetsupportuk" target="_blank" rel="external" class="js-tweet-page" target="_blank">
                {{>icon name="twitter-alt" class="requests-detail__share-list__icon"}}
                Twitter
              </a>
            </li>
            <li class="list-inline__item requests-detail__share-list__item">
              <a href="https://www.facebook.com/sharer/sharer.php" class="js-fb-share-page" target="_blank">
                {{>icon name="facebook-alt" class="requests-detail__share-list__icon"}}
                Facebook
              </a>
            </li>
            <li class="list-inline__item requests-detail__share-list__item">
              <a href="mailto:?&subject=Request: \{{{serviceProviderSynopsis}}}" class="js-email-page" target="_blank">
                {{>icon name="email-alt" class="requests-detail__share-list__icon"}}
                Email
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  \{{/card}}
</script>
