---
title: Accommodation Details - Street Support
description: Accommodation Details
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: withGoogle.hbs
permalink: false
jsBundle: accomDetails
section: findhelp
page: find-help-accom
---
<div id="js-template-placeholder" class="template"></div>

{{> loading-spinner }}

<script id="js-template" type="text/template">
  <div class="block block--breadcrumbs">
    <div class="container">
      <ol class="breadcrumbs__list">
        <li class="breadcrumbs__item"><a href="/">Home</a></li>
          <li class="breadcrumbs__item"><a href="/find-help/">Find Help</a></li>
          <li class="breadcrumbs__item"><a href="/find-help/accommodation">Accommodation</a></li>
          <li class="breadcrumbs__item"><a href="/find-help/accommodation/listing">Listing</a></li>
          <li class="breadcrumbs__item">\{{{generalInfo.name}}}</li>
      </ol>
    </div>
  </div>

  <div class="block block--header">
    <div class="container">
      \{{#generalInfo}}
        <h1 class="h1  block__header">
        \{{{name}}}
        </h1>
        <h2 class="h2 block__sub-header">\{{{synopsis}}}</h2>
      \{{/generalInfo}}
      \{{#pricingAndRequirements}}
        \{{#referralIsRequired}}
          <p class="accom-details__referral-notice">A referral is required for this property</p>
        \{{/referralIsRequired}}
      \{{/pricingAndRequirements}}
    </div>
  </div>
  <div class="block">
    <div class="container">
      <div class="block__content">
        <section class="accom-details__section accom-details__section--contact">
        <h2 class="h2">Contact</h2>

        \{{#showMap}}
          <div class="js-map accom-details__map"></div>
        \{{/showMap}}

        \{{#contactInformation}}
          \{{#telephone}}<p>\{{{telephone}}}</p>\{{/telephone}}
        \{{/contactInformation}}

        \{{#address}}
        <p class="h3">\{{ formattedAddress }}</p>
        \{{/address}}

        \{{#contactInformation}}
          <p>\{{#email}}<a href="mailto: \{{{email}}}">\{{{email}}}</a>\{{/email}}</p>
          <p>\{{#additionalInfo}}\{{{additionalInfo}}}\{{/additionalInfo}}</p>
        \{{/contactInformation}}
        </section>

        <section class="accom-details__section">
        \{{#generalInfo}}
          \{{{description}}}
        \{{/generalInfo}}
        </section>

        \{{#pricingAndRequirements}}
        <section class="accom-details__section">
          <h2 class="h2">Price and Requirements</h2>
            \{{^referralIsRequired}}
              <p>No referral required</p>
            \{{/referralIsRequired}}
            \{{{referralNotes}}}
            <dl>
              \{{#price}}<dt class="h3 accom-details__key">Price from:</dt>
              <dd class="accom-details__value">£\{{{price}}} per week \{{#foodIsIncluded}} (includes meals)\{{/foodIsIncluded}}</dd>\{{/price}}
            </dl>
            \{{{featuresAvailableAtAdditionalCost}}}
        </section>
        \{{/pricingAndRequirements}}

        \{{#pricingAndRequirements}}
          \{{#availabilityOfMeals}}
          <section class="accom-details__section">
            <h2 class="h2">Meals Availability</h2>
              \{{{availabilityOfMeals}}}
          </section>
          \{{/availabilityOfMeals}}
        \{{/pricingAndRequirements}}

        \{{#residentCriteria}}
        {{#if hasContent}}
        <section class="accom-details__section">
          <h2 class="h2">Suitable For</h2>
          <ul class="accom-details__features">
            \{{#acceptsMen}}<li>Men</li>\{{/acceptsMen}}
            \{{#acceptsWomen}}<li>Women</li>\{{/acceptsWomen}}
            \{{#acceptsCouples}}<li>Couples</li>\{{/acceptsCouples}}
            \{{#acceptsSingleSexCouples}}<li>Same Sex Couples</li>\{{/acceptsSingleSexCouples}}
            \{{#acceptsYoungPeople}}<li>Young People</li>\{{/acceptsYoungPeople}}
            \{{#acceptsFamilies}}<li>Families</li>\{{/acceptsFamilies}}
            \{{#acceptsBenefitsClaimants}}<li>Housing Benefits Claimants</li>\{{/acceptsBenefitsClaimants}}
          </ul>
        </section>
        {{/if}}
        \{{/residentCriteria}}

        \{{#features}}
          \{{#hasContent}}
            <section class="accom-details__section">
              <h2 class="h2">Property Features</h2>
              \{{#hasIndividualFeatures}}
              <ul class="accom-details__features">
                \{{#acceptsPets}}<li>Allows Pets</li>\{{/acceptsPets}}
                \{{#hasDisabledAccess}}<li>Disabled Access</li>\{{/hasDisabledAccess}}
                \{{#hasSingleRooms}}<li>Single Rooms</li>\{{/hasSingleRooms}}
                \{{#hasSharedRooms}}<li>Shared Rooms</li>\{{/hasSharedRooms}}
                \{{#hasShowerBathroomFacilities}}<li>Shower and Bathroom Facilities</li>\{{/hasShowerBathroomFacilities}}
                \{{#hasAccessToKitchen}}<li>Kitchen Facilities</li>\{{/hasAccessToKitchen}}
                \{{#hasFlexibleMealTimes}}<li>Flexible Meal Times</li>\{{/hasFlexibleMealTimes}}
                \{{#hasLounge}}<li>Communal/Social Area</li>\{{/hasLounge}}
                \{{#hasLaundryFacilities}}<li>Laundry Facilities</li>\{{/hasLaundryFacilities}}
                \{{#providesCleanBedding}}<li>Provides Clean Bedding</li>\{{/providesCleanBedding}}
                \{{#allowsVisitors}}<li>Allows Visitors</li>\{{/allowsVisitors}}
              </ul>
              \{{/hasIndividualFeatures}}

              \{{{additionalFeatures}}}
            </section>
          \{{/hasContent}}
        \{{/features}}

        \{{#supportProvided}}
        \{{#hasContent}}
        <section class="accom-details__section">
          <h2 class="h2">Support Provided</h2>
          <ul>
          \{{#supportOffered}}
            <li>\{{ . }}</li>
          \{{/supportOffered}}
          </ul>
          \{{#hasOnSiteManager}}
            <p>The property has an on-site manager.</p>
          \{{/hasOnSiteManager}}
          \{{{supportInfo}}}
        </section>
        \{{/hasContent}}
        \{{/supportProvided}}
      </div>
    </div>
  </div>
</script>
