---
title: Requests - Street Support
description: xx
layout: default.hbs
permalink: false
jsBundle: giverequests
---

<div id="js-card-search" class="requests-search is-active">
  <div class="block block--intro requests-search__intro">
    <div class="container block__inner">
      <h1 class="h1 block__header">Requests</h1>
      <a href="give-help.html">Other ways to give help</a>
    </div>
  </div>

  <div class="block">
    <div class="container block__inner">
      <div class="block__content">
        <div class="requests-search__input" action="#">
          <h2 class="h2 requests-search__input__header">How can you help?</h2>
          <form action="#">
            <input autofocus placeholder="Start typing&hellip;" class="search requests-search__autocomplete" />
          </form>
        </div>

        <section class="requests-search__filter">
          <ul class="requests-search__filter__list js-filter-list">
            <li class="hide-screen"><h3>Filter</h3></li>
            <li class="requests-search__filter__item js-filter-item js-filter-item-all is-active" data-filter="all">All</li>
            <li class="requests-search__filter__item js-filter-item" data-filter="items">Items</li>
            <li class="requests-search__filter__item js-filter-item" data-filter="time">Time</li>
            <li class="requests-search__filter__item js-filter-item" data-filter="money">Money</li>
            <li class="requests-search__filter__item" data-filter="money">
              <select class="requests-search__sort__list js-sort-dropdown">
                <option value="organisation">Sort by:</option>
                  <option value="organisation-asc">Organisation name (A-Z)</option>
                <option value="organisation-desc">Organisation name (Z-A)</option>
                <option value="date-desc">Date posted (Newest)</option>
                <option value="date-asc">Date posted (Oldest)</option>
                <option value="distance-asc">Distance (Nearest)</option>
                <option value="distance-desc">Distance (Furthest)</option>
              </select>
            </li>
          </ul>
        </section>

        <div id="js-card-list-output"></div>
      </div>
    </div>
  </div>
</div>

<div class="requests-detail js-card-detail is-hidden">
  <div id="js-card-detail-output" class="template"></div>
</div>

<script id="js-card-list-tpl" type="text/template">
  <ul id="js-card-list" class="requests-listing list">
  \{{#card}}
    <li class="requests-listing__item" data-id="\{{id}}">
      <a class="requests-listing__link" href="#">
        <article>
          <p class="h3 requests-listing__type">
            <svg class="svg-logo-dims requests-listing__icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#logo"></use>
            </svg>
            <span class="type">\{{type}}</span>
          </p>
          \{{#donationAmountInPounds}}<p class="requests-listing__amount">£\{{{donationAmountInPounds}}}</p>\{{/donationAmountInPounds}}
          <div class="requests-listing__info">
            <h3 class="requests-listing__description description">\{{{description}}}</h3>
            <p class="requests-listing__date formattedCreationDate">Posted: <time datetime={{{formattedCreationDate}}}>\{{{formattedCreationDate}}}</time></p>
            <p class="hide-screen creationDate">\{{creationDate}}</p>
            <p class="hide-screen distanceAwayInMetres">\{{distanceAwayInMetres}}</p>
            <p class="hide-screen keywords">\{{keywords}}</p>
          </div>
          <p class="requests-listing__provider serviceProviderName">\{{{serviceProviderName}}}</p>
          <p class="requests-listing__location-description locationDescription">\{{{locationDescription}}}</p>
        </article>
      </a>
    </li>
  \{{/card}}
  </ul>
</script>

<script id="js-card-detail-tpl" type="text/template">
  \{{#card}}
  <div class="block block--intro">
    <div class="container block__inner">
      <h1 class="h1 block__header">\{{{description}}}</h1>
      <h2 class="h2 block__subheader requests-detail__type">Request: \{{{type}}} \{{#donationAmountInPounds}}- £\{{donationAmountInPounds}}\{{/donationAmountInPounds}}</h2>
      <p><a href="#" class="js-card-back">Back to Requests</a></p>
    </div>
  </div>

  <div class="block">
    <div class="container block__inner">
      <div class="block__content">
        <h2 class="h2">\{{{serviceProviderName}}}</h2>
        <h3 class="h3">\{{{serviceProviderSynopsis}}}</h3>
        <p>Posted: \{{{creationDate}}}</p>
        <p>\{{{reason}}}</p>
        <p>\{{{instructions}}}</p>
        <h3 class="h2">Location</h3>
        <img src="holder.js/100px300?text=Google Map Here \n Postcode: \{{{postcode}}}">

        <h3 class="h2">Contact details</h3>
        <p>Email: <a href="mailto:\{{{email}}}">\{{{email}}}</a></p>
        <p><strong>Developer Note: </strong>This should be a call to action which opens a form</p>

        <h3 class="h2">Share this request</h3>
        <p>If you cannot fulfill this need but know someone who can, please send this request on:</p>
        <ul>
          <li>Facebook</li>
          <li>Twitter</li>
          <li>Send an Email</li>
        </ul>
      </div>
      <p><a href="#" class="js-card-back">Back to Requests</a></p>
    </div>
  </div>
  \{{/card}}
</script>
