<div class="block block--change-into-action">
  <div class="container">
    <div class="block__change-into-action">
      <img src="/assets/img/coventry-logos/cia-logo.png" width="100%" alt="change for good logo" />
    </div>
    <div class="home__copy home__copy--change-into-action">
      <h1>Change into Action</h1>
      <p><a target="_blank" href="https://changeintoaction.org.uk/{{ locationTag }}/">Change into Action {{ locationName }}</a> is an alternative giving scheme that provides a safe, easy and secure way for you to donate money to fund practical support for people who are or have been rough sleeping in the {{ type }}. The scheme is administered and managed locally and brings together partners from key local organisations, such as specialist homelessness charities and street teams that work with individuals to identify those things that can really make a difference and help to move away from the streets. Your donation will directly benefit a person sleeping rough or at risk in {{ locationName }}.</p>
      <a class="btn btn--brand-e" target="_blank" href="https://changeintoaction.org.uk/{{ locationTag }}/donate/">
        <span class="btn__text">Donate Now</span>
      </a>
    </div>
  </div>
</div>
