<div class="block block--{{ locationTag }}-charter">
  <div class="block__{{ locationTag }}-charter">
    <div class="block__{{ locationTag }}-charter-buildings">
      <div class="content">
        <div class="title">
          <h1>Homelessness Charter</h1>
          <h2 class="h3">{{ locationName }}</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="home__copy home__copy--{{ locationTag }}-charter">
    <h1>{{ locationNameHeader }} Homelessness Charter</h1>
    <p>Join us in our vision for {{ locationName }} - A city where no-one needs to sleep rough or beg.</p>
    <a class="btn btn--brand-e" href="/{{ locationTag }}/charter">
      <span class="btn__text">Click here to find out more</span>
    </a>
  </div>
</div>
