<div class="block block--real-change-banner block--real-change-banner--{{ locationKey }}">
  <div class="container">
    <img class="real-change-banner__logo" src="/assets/img/real-change-banner/{{ locationKey }}/logo.png" alt="Real Change {{ locationName }} logo" width="88" height="127" />
    <h1 class="real-change-banner__heading real-change-banner__heading--{{ locationKey }}">Help to make a Real Change in {{ locationName }}</h1>
    <section class="real-change-banner__copy">
      <p>Real Change pays for practical items individuals need to build independent lives away from the streets.</p>
      <p>If everyone who lives, works or visits Rochdale donates, together we can make a Real Change to homelessness!</p>
      <a href="{{ linkUrl }}" class="btn btn--brand-e">
        <span class="btn__text">Click here to donate</span>
      </a>
    </section>
  </div>
</div>
