<div class="block block--video-banner">
  <div class="home__copy home__copy--video-banner">
    <h1>{{ title }}</h1>
    <p>{{ copy }}</p>
    <p>{{ moreCopy }}</p>
    <a class="btn btn--brand-e" href="{{ buttonUrl }}">
      <span class="btn__text">{{ buttonText }}</span>
    </a>
  </div>
  <div class="video-section">
<iframe width="100%" height="350px" src="{{ youtubeVideo }}" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
