---
title:
description:
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: categorybyday
section: findhelp
page:
---

{{> no-js}}

<div id="js-category-result-output" class="template"></div>

<div id="spin"></div>

<script id="js-category-no-results-result-tpl" type="text/template">

{{> find-help/breadcrumb }}

<div class="block">
  <div class="container">
    <div class="block__content">
      {{> find-help/header }}
      {{> proximity-search/hogan }}
    </div>
  </div>
</div>

{{> find-help/view-type-tabs timetableIsSelected="true" }}

<div class="block block--cards">
  <div class="container block__inner">
    <div class="block__content">
      <div class="result-detail">
        {{> no-services geoLocationUnavailable="geoLocationUnavailable" }}
      </div>
    </div>
  </div>
</div>
</script>

<script id="js-category-result-tpl" type="text/template">

 {{> find-help/breadcrumb }}

  <div class="block">
    <div class="container">
      <div class="block__content">
        {{> find-help/header }}
        {{> proximity-search/hogan }}
      </div>
    </div>
  </div>

  {{> find-help/view-type-tabs timetableIsSelected="true" }}

  <div class="block block--cards">
    <div class="container block__inner">
      <div class="block__content">
        <div class="subcat-filter form--highlighted">
          <p class="subcat-filter__label">Filter results:</p>
          <ul class="form__field-list">
            <li class="form__field-item">
              <label class="form__label" for="day-of-week">Day of Week:</label>
              <select id="day-of-week" name="day-of-week" class="form__input js-filter-by-day">
                \{{#daysOfWeek}}
                  <option value="\{{id}}">\{{id}}</option>
                \{{/daysOfWeek}}
              </select>
            </li>
            <li class="form__field-item">
              <label class="form__label" for="time-of-day">Time of Day:</label>
              <select id="time-of-day" name="time-of-day" class="form__input js-filter-by-time">
                <option>-- All Day --</option>
                \{{#timesOfDay}}
                  <option value="\{{id}}">\{{id}}</option>
                \{{/timesOfDay}}
              </select>
            </li>
          </ul>
        </div>

        <div class="cards__list cards__list--single-col">
          \{{#organisations}}
          <div class="result-detail">
            <div class="accordion accordion--day js-accordion">
              \{{#daysServices}}
              <button id="\{{{name}}}" class="h3 accordion__header js-header">
                \{{{name}}}
                <svg class="svg-plus-dims accordion__icon accordion__icon--open"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#plus"></use></svg>
                <svg class="svg-minus-dims accordion__icon accordion__icon--close"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#minus"></use></svg>
              </button>
              <div class="accordion__item js-item">
                <div class="accordion__inner">
                  <div class="result-detail__times-list">
                    \{{#serviceProviders}}
                    <div class="result-detail__item" \{{#openingTime}} data-start-time="\{{startTime}}" data-end-time="\{{endTime}}">\{{/openingTime}}
                      <div class="result-detail__times-title--timetabled h2">\{{#openingTime}} \{{startTime}} - \{{endTime}} \{{/openingTime}}
                      </div>
                      <div class="result-detail__times-item result-detail__times-item--timetabled">
                        <ul>
                          \{{#openingTime}} 
                            \{{#serviceInfo}}<li> \{{{serviceInfo}}}</li>\{{/serviceInfo}} 
                          \{{/openingTime}} 
                          \{{#tags}}
                          <li>Suitable for: <span class="result-detail__tags-item">\{{tags}}</span></li>
                          \{{/tags}}
                          \{{#isTelephoneService}}
                          <li>This is a telephone service.</li>
                          \{{/isTelephoneService}}
                          \{{#isAppointmentOnly}}
                          <li>Access to this service is by appointment only.</li>
                          \{{/isAppointmentOnly}}
                          <li>
                            <a href="/find-help/organisation/?organisation=\{{key}}">\{{{name}}}</a> \{{#locationDescription}}
                            <p>\{{locationDescription}}</p>\{{/locationDescription}} \{{#address.street}} \{{#address.street}}
                            \{{{address.street}}}, \{{/address.street}} \{{#address.street1}} \{{address.street1}}, \{{/address.street1}}
                            \{{#address.street2}} \{{address.street2}}, \{{/address.street2}} \{{#address.street3}} \{{address.street3}},
                            \{{/address.street3}} \{{#address.city}} \{{address.city}}. \{{/address.city}} \{{address.postcode}}
                            - <a href="https://www.google.co.uk/maps/place/\{{address.postcode}}">View on Map</a> \{{/address.street}}
                          </li>
                          \{{#address.telephone}}
                          <li>Telephone: \{{address.telephone}} </li> \{{/address.telephone}}
                        </ul>
                      </div>
                    </div>
                    \{{/serviceProviders}}
                  </div>
                </div>
              </div>
              \{{/daysServices}}
            </div>
          </div>
          \{{/organisations}}
        </div>
      </div>
    </div>

    <p class="text-center">Please note, the information here is provided and maintained by the organisations. If you see anything that is incorrect
      or incomplete, please <a href="/about/contact/">get in touch</a>.</p>

    {{> social-share}}

  </div>
</script>