---
title: Category by Day - Street Support
description: Street support makes it easier to help homeless people. Here are services available near you.
layout: default.hbs
permalink: false
jsBundle: categorybyday
section: findhelp
page: categorybyday
---

{{> no-js}}

<div id="js-category-result-output" class="template"></div>

<div id="spin"></div>

<script id="js-category-no-results-result-tpl" type="text/template">

  <div class="block block--breadcrumbs">
    <div class="container">
      <ol class="breadcrumbs__list">
        <li class="breadcrumbs__item"><a href="/">Home</a></li>
        <li class="breadcrumbs__item"><a href="/find-help/">Find Help</a></li>
        \{{#organisations}}
        <li class="breadcrumbs__item">\{{{categoryName}}}</li>
        \{{/organisations}}
      </ol>
    </div>
  </div>

  <div class="block block--subpage-header">
    <div class="container">
      \{{#organisations}}
      <h2 class="h1 block__header">\{{categoryName}}</h2>
      <h3 class="h2 block__sub-header">\{{{categorySynopsis}}}</h3>
      \{{/organisations}}
    </div>
  </div>

  <div class="block">
    <div class="container block__inner">
      <div class="block__content">
        <div class="result-detail">
          <p>Sorry, we can't find any services listed in \{{location}}.</p>
          <p>If you know of an organisation that should be here, <a href="/contact/">please get in touch</a> to learn how you can get it added.</p>
        </div>
      </div>
    </div>
  </div>
</script>

<script id="js-category-result-tpl" type="text/template">

  <div class="block block--breadcrumbs">
    <div class="container">
      <ol class="breadcrumbs__list">
        <li class="breadcrumbs__item"><a href="/">Home</a></li>
        <li class="breadcrumbs__item"><a href="/find-help/">Find Help</a></li>
        \{{#organisations}}
        <li class="breadcrumbs__item">\{{{categoryName}}}</li>
        \{{/organisations}}
      </ol>
    </div>
  </div>

  <div class="block block--subpage-header">
    <div class="container">
      \{{#organisations}}
      <h2 class="h1 block__header">\{{categoryName}}</h2>
      <h3 class="h2 block__sub-header">\{{{categorySynopsis}}}</h3>
      \{{/organisations}}
    </div>
  </div>

  <div class="block">
    <div class="container block__inner">
      <div class="block__content">
        {{> location-description}}
        \{{#organisations}}
        <div class="result-detail">
          <div class="accordion accordion--day js-accordion">
            \{{#daysServices}}
            <button id="\{{{name}}}" class="h3 accordion__header js-header">
              \{{{name}}}
              <svg class="svg-plus-dims accordion__icon accordion__icon--open"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#plus"></use></svg>
              <svg class="svg-minus-dims accordion__icon accordion__icon--close"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#minus"></use></svg>
            </button>
              <div class="accordion__item js-item">
                <div class="accordion__inner">
                  <div class="result-detail__times-list">
                    \{{#serviceProviders}}
                    <div class="result-detail__item">
                      <div class="result-detail__times-title h2">\{{#openingTime}}
                        \{{startTime}} - \{{endTime}}
                        \{{/openingTime}}
                      </div>
                      <div class="result-detail__times-item">
                        <ul>
                          <li>\{{#openingTime}} \{{{serviceInfo}}} \{{/openingTime}}</li>
                          \{{#tags}}
                          <li>You must be: <span class="result-detail__tags-item">\{{tags}}</span></li>
                          \{{/tags}}
                          <li>
                            <a href="/find-help/organisation/?organisation=\{{key}}">\{{{name}}}</a>
                            \{{#locationDescription}}<p>\{{locationDescription}}</p>\{{/locationDescription}}
                            \{{#address.street}}
                              \{{#address.street}} \{{address.street}}, \{{/address.street}}
                              \{{#address.street1}} \{{address.street1}}, \{{/address.street1}}
                              \{{#address.street2}} \{{address.street2}}, \{{/address.street2}}
                              \{{#address.street3}} \{{address.street3}}, \{{/address.street3}}
                              \{{#address.city}} \{{address.city}}. \{{/address.city}}
                              \{{address.postcode}} - <a href="https://www.google.co.uk/maps/place/\{{address.postcode}}">View on Map</a>
                            \{{/address.street}}
                          </li>
                        </ul>
                      </div>
                    </div>
                    \{{/serviceProviders}}
                  </div>
                </div>
              </div>
            \{{/daysServices}}
          </div>
          \{{/organisations}}
        </div>
      </div>

      <p>If you see something missing, incorrect or incomplete, or you would like to know more, please <a href="/contact/">get in touch</a>.</p>

      {{> social-share}}

    </div>
  </div>
</script>
